#container {
}

.total-count {
    padding-top: 0.5em;
    padding-bottom: 1em;
    font-size: 1.5em;
}

.content {
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 8px;
    border-color: red;
    box-shadow: 0 4px 15px rgba(0,0,0,.2);
}
.qa {
    display: flex;
    gap: 32px;
}
.question {
    width: 100px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    flex-grow: 1;
}
.ja {
    width: 100px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    flex-grow: 1;
}

.category-0 {}
.category-1 {
    color: #ffa500
}
.category-2 {
    color: #696969
}
.category-3 {
    color: #1e90ff
}
.category-4 {
    color: #28A745
}
.category-5 {
    color: #DC3545
}
.category-6 {
    color: #ff1493
}
.category-7 {
    color: #5F4B8B
}
.category-8 {
    color: #8B4513
}

.answer {}
